@import "../variables.scss";

.cntnSkills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cntn {
  background-image: url(../../fondosk.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  background-position: 0% 0%;
  background-attachment: fixed;
  @include verySmall2 {
    background-image: url(../../fondosk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: unset;
  }
  @include verySmall {
    background-image: url(../../fondosk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: unset;
  }
}
.backgroundImage {
  border-top: 1px solid black;
  width: 100%;
  height: 205px;
  background-image: url(../../walpaper.jpg);
  justify-content: center;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  @include small {
    height: 150px;
  }
  @include verySmall2 {
    height: 150px;
  }
  @include verySmall {
    height: 150px;
  }
}

.divSkills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  @include small {
    margin-top: 0px;
  }
  @include verySmall2 {
    margin-top: 0px;
  }
  @include verySmall {
    margin-top: 0px;
  }
}
.container {
  width: 100%;
  overflow: hidden;
  display: flex;
  border-top: 1px solid black;
  background-color: #ebe9e2;
  justify-content: center;
  align-items: center;
  margin: 0px;
}
.phrase {
  margin: 1px;
  font-family: satoshi;
  font-size: 14px;
  font-weight: 700;

  white-space: nowrap;
  @include verySmall2 {
    font-size: 10px;
  }
  @include verySmall {
    font-size: 10px;
  }
}

.title {
  font-size: 35px;
  text-align: center;
  line-height: 0px;
  letter-spacing: 3px;
  font-family: the seasons;
  margin: 0px;
  @include verySmall2 {
    font-size: 24px;
  }
  @include verySmall {
    font-size: 24px;
  }
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ebe9e2ea;
  padding: 25px;
  border: 1px solid black;
  width: 97px;
  height: 96px;
  margin: 18px;
  @include largeIntermediate {
    padding: 10px;
    margin: 5px;
    width: 76px;
    height: 69px;
  }

  @include SmalIntermediate {
    padding: 10px;
    margin: 5px;
    width: 76px;
    height: 69px;
  }
  @include small {
    padding: 10px;
    margin: 5px;
    width: 68px;
    height: 64px;
  }
  @include verySmall2 {
    padding: 10px;
    margin: 5px;
    width: 68px;
    height: 64px;
  }
  @include verySmall {
    padding: 10px;
    margin: 5px;
    width: 68px;
    height: 64px;
  }
}
.icons.animate {
  animation: scale-up-horizontal-center 0.9s;
}

@keyframes scale-up-horizontal-center {
  0% {
    transform: scaleX(0.2);
  }
  100% {
    transform: scaleX(1);
  }
}
.animate2 {
  animation: moveLeft linear infinite 45s; /* Utiliza la animación "moveLeft" */
  animation-delay: 0s; /* Retrasa el inicio de la animación en 0 segundos */
  animation-fill-mode: forwards; /* Mantiene el estado final de la animación */
}

@keyframes moveLeft {
  0% {
    transform: translateX(100%); /* Comienza desde la derecha de la pantalla */
  }
  100% {
    transform: translateX(-100%); /* Termina en la izquierda de la pantalla */
  }
}
.imgLogo {
  display: flex;
  height: 25px;
}

.pIcon {
  justify-content: center;
  /* display: flex; */
  font-size: 17px;
  margin: 0px;
  padding: 0px;
  font-family: satoshi;
  @include largeIntermediate {
    font-size: 13px;
  }
  @include SmalIntermediate {
    font-size: 13px;
  }
  @include small {
    font-size: 12px;
  }
  @include verySmall2 {
    font-size: 11px;
  }
  @include verySmall {
    font-size: 11px;
  }
}

.lineOne {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @include largeIntermediate {
    display: grid;
    grid-template-columns: 86px 86px 86px ;
  }
  @include SmalIntermediate {
    display: grid;
    grid-template-columns: 86px 86px 86px ;
  }
  @include small {
    display: grid;
    grid-template-columns: 86px 86px 86px ;
  }

  @include verySmall2 {
    display: grid;
    grid-template-columns: 86px 86px 86px ;
  }
  @include verySmall {
    display: grid;
    grid-template-columns: 86px 86px  86px ;
  }
}
