@import "../variables.scss";

.cntnHome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 1px solid black;
  border-radius: 7px;
  margin-bottom: 15px;
  padding-top: 40px;
  @include verySmall {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    margin-top: 0px;
  }
}
.nameAndSubtitle {
  height: 425px;
  @include large3 {
    // margin-left: 78px;
    height: 580px;
  }
  @include large {
    // margin-left: 78px;
    height: 400px;
  }
  @include SmalIntermediate {
    height: 350px;
  }
  @include small {
    height: 340px;
  }
  @include verySmall2 {
    height: 310px;
  }
  @include verySmall {
    display: flex;
    height: 130px;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
}

.name {
  font-size: 51px;
  max-width: 250px;
  line-height: 20px;
  letter-spacing: 5px;
  font-family: the seasons;
  animation: slide-in-left 1s ease-in-out;

  @include SmalIntermediate {
    font-size: 35px;
  }
  @include verySmall2 {
    font-size: 30px;
  }
  @include verySmall {
    padding: 3px;
    font-size: 15px;
    margin: 0px;
    letter-spacing: 4px;
  }
}

.lastName {
  font-size: 51px;
  letter-spacing: 5px;
  font-family: the seasons;
  animation: slide-in-left 1s ease-in-out;

  @include SmalIntermediate {
    font-size: 35px;
  }
  @include verySmall2 {
    font-size: 30px;
  }
  @include verySmall {
    padding: 3px;
    font-size: 15px;
    margin: 0px;
    letter-spacing: 4px;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(0);
  }
}
.names {
  @include verySmall {
    flex-direction: row;
    font-size: 38px;
    font-weight: 600;
    display: none;
  }
}

.img {
  height: 455px;
  border: 1px solid rgb(0, 0, 0);
  margin-left: 47px;
  @include large3 {
    margin-left: 78px;
    height: 580px;
  }
  @include large {
    // margin-left: 78px;
    height: 430px;
  }
  @include SmalIntermediate {
    height: 350px;
    margin-left: 8px;
  }
  @include small {
    height: 342px;

    margin-left: 8px;
  }
  @include verySmall2 {
    height: 312px;
    margin-left: 7px;
    margin-bottom: 13px;
  }

  @include verySmall {
    height: 146px;
    width: 142px;
    border-radius: 50%;
    margin-left: 0;
    margin-bottom: 13px;
  }
}

.divImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cntnP {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 410px;
  font-size: 17px;
  font-family: satoshi;
  animation: slide-in-left 1s ease-in-out;
  @include SmalIntermediate {
    max-width: 280px;
  }
  @include small {
    max-width: 240px;
  }
  @include verySmall2 {
    max-width: 238px;
  }
  @include verySmall {
    margin-top: 20px;
    font-size: 13px;
    max-width: 200px;
    text-align: left;
    align-items: center;
    justify-content: center;
  }
}

.centeredText {
  @include verySmall {
    text-align: center;
    justify-content: center;
    height: 12px;
  }
}
.p {
  flex-direction: column;
  max-width: 400px;
  font-size: 17px;
  font-family: satoshi;
  animation: slide-in-left 1s ease-in-out;

  @include small {
    max-width: 220px;
  }

  @include verySmall2 {
    font-size: 14px;
  }

  @include verySmall {
    font-size: 13px;
    align-items: center;
    letter-spacing: 2px;
  }
}

.p2 {
  margin-top: -18px;

  @include small {
    max-width: 298px;
  }
  @include verySmall2 {
    font-size: 14px;
    max-width: 220px;
  }
  @include verySmall {
    margin-top: 6px;
    max-width: 287px;
    justify-content: center;
    align-items: center;
    font-size: 13px;
  }
}
.icon {
  margin: 1px 0px 1px 0px;
  @include verySmall {
    margin: 0px 2px 0px 0px;
  }
  @include small {
    margin: 0px 3px 0px 3px;
  }
}

.icon:hover {
  transform: scale(1.05);
}

.icon a {
  color: black;
  text-decoration: none;
}

.divIcons {
  position: absolute;
  bottom: 53px;
  left: 44px;
  display: flex;
  align-items: center;
  flex-direction: column;

  @include verySmall {
    width: 128px;
    left: 40px;
  }
  @include small {
    position: absolute;
    bottom: 53px;
    left: 42px;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  @include SmalIntermediate {
    left: 38px;
  }
}

.divNameImg {
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @include verySmall {
    flex-direction: column-reverse;
    position: absolute;
    bottom: 135px;
  }

  @include veryverySmall {
    height: 340px;
  }
  @include veryverySmall1 {
    height: 300px;
  }
}
