.name {
  font-size: 49px;
  /* font-weight: 600; */
  max-width: 250px;
  line-height: 20px;
  letter-spacing: 5px;
  font-family: the seasons;
}
.lastName {
  font-size: 49px;
  /* font-weight: 600; */
  max-width: 250px;
  letter-spacing: 5px;
  margin-left: 55px;
  font-family: the seasons;
}
.img {
  display: flex;
  height: 440px;
  margin: 5px;
  border: 1px solid rgb(0, 0, 0);
}
.p {
  max-width: 400px;
  margin-top: 22px;
  font-size: 18px;
  /* letter-spacing: 1px; */
  font-family: satoshi;
}

.icon {
  margin: 1px 0px 1px 0px;
}
.icon a {
  color: black;
  text-decoration: none;
}
.pWelcome {
  font-size: 35px;
  font-weight: 800;
  letter-spacing: 3px;
  font-family: valentino;
}
