@import "../variables.scss";

.cntnContact {
  justify-content: center;
  align-items: center;
}
.backgroundTittle {
  width: 100%;
  height: 205px;
  background-image: url(../../walpaper.jpg);
  justify-content: center;
  display: flex;
  align-items: center;
  border-top: 1px solid black;
  @include verySmall {
    height: 130px;
  }
}
.title {
  font-size: 39px;
  text-align: center;
  line-height: 0px;
  letter-spacing: 3px;
  font-family: the seasons;
  margin: 0px;
  @include verySmall {
    font-size: 26px;
  }

  @include verySmall {
    font-size: 24px;
  }
}
.container {
  width: 100%;
  overflow: hidden;
  display: flex;
  border-top: 1px solid black;
  background-color: #ebe9e2;
  justify-content: center;
  align-items: center;
  margin: 0px;
}
.phrase {
  margin: 1px;
  font-family: satoshi;
  font-weight: 700;
  font-size: 14px;
  white-space: nowrap;
  @include verySmall {
    font-size: 10px;
  }
}
.animate {
  animation: moveLeft linear infinite 45s; /* Utiliza la animación "moveLeft" */
  animation-delay: 0s; /* Retrasa el inicio de la animación en 0 segundos */
  animation-fill-mode: forwards; /* Mantiene el estado final de la animación */
}

@keyframes moveLeft {
  0% {
    transform: translateX(100%); /* Comienza desde la derecha de la pantalla */
  }
  100% {
    transform: translateX(-100%); /* Termina en la izquierda de la pantalla */
  }
}
.backgroundImag {
  // width: 100%;
  height: 115.5vh;
  background-image: url(../../imageEnd.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 0%;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  @include large {
    height: 115vh;
  }
  @include largeIntermediate {
    height: 115.5vh;
  }
  @include SmalIntermediate {
    height: 115.6vh;
  }
  @include small {
    height: 115.6vh;
  }

  @include verySmall2 {
    background-repeat: no-repeat;
    // background-size: cover;
    background-attachment: unset;
    height: 112vh;
  }
  @include verySmall {
    background-repeat: no-repeat;
    // background-size: cover;
    background-attachment: unset;
    height: 129vh;
  }
  @include veryverySmall1 {
    height: 129vh;
    background-repeat: no-repeat;
    // background-size: cover;
    background-attachment: unset;
  }
  @include veryverySmall {
    height: 129.2vh;
    background-repeat: no-repeat;
    // background-size: cover;
    background-attachment: unset;
  }
}
.cardContact {
  background-color: #ebe9e2;
  width: 33%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 34px;
  @include large3 {
    width: 28%;
  }
  @include large {
    width: 31%;
  }
  @include largeIntermediate {
    width: 40%;
    max-height: 100vh;
  }
  @include SmalIntermediate {
    width: 330px;
    padding: 31px;
    max-height: 100vh;
  }
  @include small {
    width: 325px;
    padding: 29px;
    max-height: 100vh;
  }
  @include verySmall2 {
    width: 298px;
    padding: 26px;
  }
  @include verySmall {
    width: 270px;
    padding: 25px;
  }
}
.cntnForm {
  @include largeIntermediate {
    width: 300px;
  }
  @include SmalIntermediate {
    width: 196px;
  }
  @include small {
    width: 186px;
  }
  @include verySmall2 {
    width: 163px;
  }
  @include verySmall {
    width: 160px;
  }
}
.divIcons {
  display: flex;
  align-items: start;
  flex-direction: row;
  justify-content: start;
  @include verySmall {
    width: 70px;
  }
}
.input {
  width: 180px;
  border: none;
  outline: none;
  background-color: #ebe9e2;
  border-bottom: 1px solid black;
  width: 300px;
  padding-bottom: 16px;
  font-size: 13px;
  font-weight: 600;
  @include SmalIntermediate {
    width: 230px;
  }
  @include small {
    width: 220px;
    border-top: 1px solid #ebe9e2;
    border-left: 1px solid #ebe9e2;
    border-right: 1px solid #ebe9e2;
    font-weight: 800;
  }
  @include verySmall2 {
    width: 180px;
    border-top: 1px solid #ebe9e2;
    border-left: 1px solid #ebe9e2;
    border-right: 1px solid #ebe9e2;
    font-weight: 800;
  }
  @include verySmall {
    width: 160px;
    border-top: 1px solid #ebe9e2;
    border-left: 1px solid #ebe9e2;
    border-right: 1px solid #ebe9e2;
    font-weight: 800;
  }
}

.divLabelandInput {
  flex-direction: column;
}
.label {
  font-size: 16px;
}
.pForm {
  font-size: 41px;
  font-weight: 600;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  min-width: 200px;
}
.buttonSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}
.button {
  font-size: 10px;
  width: 154px;
  height: 45px;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: satoshi;
  border: 1px solid black;
}
.button:hover {
  background-color: #b1ada2a9;
  transform: scale(1.03);
  border: none;
}
.inputMessage {
  width: 180px;
  height: 109px;
  border: none;
  outline: none;
  background-color: #ebe9e2;
  border-bottom: 1px solid black;
  width: 300px;
  padding-bottom: 90px;
  overflow-y: hidden;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0px;
  @include SmalIntermediate {
    width: 220px;
  }
  @include small {
    width: 220px;
    font-weight: 800;
    border-top: 1px solid #ebe9e2;
    border-left: 1px solid #ebe9e2;
    border-right: 1px solid #ebe9e2;
  }
  @include verySmall2 {
    width: 200px;
    font-weight: 800;
    border-top: 1px solid #ebe9e2;
    border-left: 1px solid #ebe9e2;
    border-right: 1px solid #ebe9e2;
  }
  @include verySmall {
    width: 160px;
    font-weight: 800;
    border-top: 1px solid #ebe9e2;
    border-left: 1px solid #ebe9e2;
    border-right: 1px solid #ebe9e2;
  }
}
.pError {
  color: red;
  display: flex;
  font-size: 15px;
  margin: 0px;
  height: 5px;
  @include small {
    font-size: 12px;
    height: 0px;
  }
  @include verySmall2 {
    font-size: 12px;
    height: 0px;
  }
  @include verySmall {
    font-size: 12px;
    height: 0px;
  }
}
.inputsAndlabels {
  justify-content: center;
  align-items: center;
}
.p {
  justify-content: center;
  align-items: center;
  font-family: valentino;
  font-size: 38px;
  @include verySmall2 {
    font-size: 26px;
    font-weight: 800;
  }
  @include verySmall {
    font-size: 26px;
    font-weight: 800;
  }
}
.icon {
  margin: 0px 3px 3px 3px;
}
.icon:hover {
  transform: scale(1.03);
}
.icon a {
  color: black;
  text-decoration: none;
}
.iconLinkedin {
  margin-right: 3px;
}
.iconLinkedin:hover {
  transform: scale(1.03);
}
.a {
  color: black;
  text-decoration: none;
}
.cntnModal {
  background-color: #ebe9e2;
  font-size: 12px;
  font-family: valentino;
  font-weight: 900;
  letter-spacing: 1px;
  padding: 13px;
}
.divModal {
  display: flex;
  justify-content: center;
  align-items: center;
  @include verySmall2 {
    width: 240px;
  }
  @include verySmall {
    width: 240px;
  }
}
.bodyModal {
  font-family: satoshi;
  font-size: 15px;
  font-weight: 400;
  padding: 20px;
  @include verySmall2 {
    width: 240px;
  }
  @include verySmall {
    width: 240px;
  }
}
