@import "../variables.scss";

.p {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin-left: 16px;
  margin-right: 16px;
  font-family: satoshi;
  font-size: 16px;
  @include verySmall2 {
    font-size: 14px;
  }
}
.p:hover {
  font-weight: 500;
  transform: scale(1.05);
}
.nav {
  padding: 13px !important;
  margin: 0px !important;
}
.navOne {
  // padding: 15px !important;
  background-color: #ebe9e2 !important;
  border-bottom: 1px solid black;
  margin: 0px !important;
  padding: 13px !important;
}

.brand {
  font-family: "Cinzel" decorative !important;
  font-size: 16px !important;
  color: white !important;
  background-color: black;
  padding-right: 8.1px;
  padding-left: 8.1px;

  justify-content: center !important;
  align-items: center !important;
  border-radius: 4px;
  @include verySmall {
    font-size: 13px !important;
  }
  @include small {
    font-size: 14px !important;
  }
  @include SmalIntermediate {
    font-size: 15px !important;
  }
}

.buttonResponsive {
  color: #a3a095;
  height: 35px !important;
  font-size: 12px !important;
  border-radius: 4px;
  padding-right: 8.1px;
  padding-left: 8.1px;
  @include verySmall {
    height: 20px;
    width: 40px;
    order: -1;
  }
  @include small {
    height: 30px;
    width: 40px;
    order: -1;
  }
  @include SmalIntermediate {
    height: 30px;
    width: 40px;
    order: -1;
  }
}

.active {
  margin-top: 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-left: 4px;

  .p {
    font-size: 12px !important;
    letter-spacing: 1px !important;
    align-items: center !important;
    justify-content: flex-start !important;
    align-items: start !important;
    padding: 2px !important;
    margin: 0px !important;

    .p:hover {
      cursor: pointer;
      // font-weight: 0 !important;
      transform: none !important;
    }
  }
  .pCv {
    font-size: 12px !important;
    letter-spacing: 1px !important;
    align-items: center !important;
    justify-content: flex-start !important;
    align-items: start !important;
    padding: 2px !important;
width: 15% !important; 
background-color: #ebe9e2 !important;
   .pCv:hover {
      cursor: pointer;
      font-weight: 400 !important;
      transform: none !important;
    }
  }
}

.dropdownContent {
  display: flex;
  right: 12px;
  top: 41px;
  position: absolute;
  background-color: black;
  width: 47px;
  height: 57px;
  border: 1px solid black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  color: white
}

.p4{
  font-size: 12px !important;
  color: black;
  text-decoration: none !important;
  letter-spacing: 1px !important;
  align-items: center !important;
  justify-content: flex-start !important;
  align-items: start !important;
font-weight: 400 !important; 
 margin: 0px !important;

  .p:hover {
    cursor: pointer;
    // font-weight: 0 !important;
    transform: none !important;
    font-size: 16px !important;
  }
   @include verySmall2 {
    font-size: 14px;
  }

}
.pCv{

  text-decoration: none;
  color: black;
  font-family: satoshi;
  font-size: 16px;
  .pCv:hover {
    font-weight: 800 !important;
    cursor: pointer;
    transform: scale(1.05) !important;
  }
}
.Item{
  background-color:  #ebe9e2 !important;
 
}
