.cntnFo {
  height: 46vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.932);
}
.ctnFooter {
  /* height: 30%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
  padding-left: 43px;
  padding-right: 43px;
}
.p {
  font-family: valentino;
  display: flex;
  font-size: 25px;
  color: #ebe9e2;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;
}
.divConnect {
  margin-top: 80px;
  margin-bottom: 20px;
  margin-left: 14px;
  margin-right: 14px;
  width: 490px;
  padding-top: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.39);
}
.divExplore {
  margin-top: 80px;
  margin-bottom: 20px;
  margin-left: 14px;
  margin-right: 14px;
  width: 490px;
  padding-top: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.39);
}
.iconLinkedin {
  margin-bottom: 7px;
  margin-right: 5px;
}
.a {
  color: #ebe9e2;
  text-decoration: none;
}
.divpIcons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon {
  margin: 0px 7px 0px 7px;
}
.pExplore {
  font-size: 13px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #ebe9e2;
  cursor: pointer;
  margin-left: 9px;
  margin-right: 9px;
  font-family: satoshi;
}
.brandMr {
  justify-content: center;
  align-items: center;
  font-family: the seasons;
  color: #ebe9e2;
  font-size: 65px;
  margin-top: 53px;
}
.divLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.link {
  /* margin-left: 19px; */
  margin-right: 19px;
}
.divpSessions {
  justify-content: center;
  align-items: center;
  margin: 0px;
}
.divCopy {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: -15px; */
}
.pCopy {
  color: #ebe9e2;
  font-size: 15px;
  margin: 0px;
  padding: 0px;
}
.divFotter {
  padding-bottom: 0px;
  margin: 0px;
}
