@import "./components/variables.scss";

.App {
  text-align: center;
}

#navbarScrollingDropdown {
  /* margin: 0px 16px !important; */
  padding: 0px !important;
  font-weight: 400 !important;
  color: black !important;
  width: 15% !important;
}
.dropdown-menu {
  /* width: 10px !important; */
  justify-content: center !important;
  align-items: center !important;
  background-color: #ebe9e2 !important;
  min-width: 45px !important;
  /* border: 0.5px solid black !important; */
  border-radius: 0px !important;
  color: black !important;
  padding: 4px !important;
  /* background-image: url(../src/walpaper.jpg); */
  background-color: none;
}
.dropdown-menu:hover {
  font-weight: 500 !important;
  transform: scale(1.01) !important;
}
.dropdown-item {
  width: 45px !important;
  padding: 0px !important;
  justify-content: center !important;
  align-items: center !important;
}

.dropdown-item:hover {
  background-color: #b1ada21c !important;
}

.dropdown-menu .dropdown-item.active {
  background-color: #ebe9e2 !important;
}
.carousel-item {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include verySmall {
    height: 140px;
  }
  @include verySmall2 {
    height: 140px;
  }
}

.carousel-item img {
  height: 100%;
  width: 100%;
}
.carousel-inner {
  transition: height 0.3s ease-in-out;
}
